<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AssemblyPath" value="C:\Users\Ramil Aliyev\source\repos\ReceptionManagement\ReceptionManagement.ClientA\bin\Debug\netstandard2.1\ReceptionManagement.ClientA.dll"/>
    
    <add key="ClientName" value="ClientA"/>
  </appSettings>
</configuration>